body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  text-align: center;
}

/* Leaderboard */
.card{ width: 500px; height: auto; background-color: rgb(242, 245, 247); box-shadow: 0 5px 5px #252525; display: grid; grid-template-areas: "header header" "avatar optionOne" "avatar optionTwo" "avatar score"; grid-gap: 1em; } .card>.header{ grid-area: header; font-weight: 700; font-style:italic } .card>.avatar{ grid-area: avatar; } .card>.optionOne{ grid-area: optionOne; font-style: italic } .card>.optionTwo{ grid-area: optionTwo; font-style: italic } .card>.score{ grid-area: score; background-color: black; color: white } .leaderboard{ display: grid; grid-template-rows: auto; grid-template-columns: 1fr; grid-gap: 2em; justify-items: center }

/* Login */
.login{ display: grid; grid-template-rows: auto; grid-template-columns: 1fr; justify-content: center; margin: 170px; padding: 30px; background-color: aquamarine } .questions{ display: grid; grid-template-areas:  "questionstitle" "choice" "question"; grid-gap: 20px; justify-content: center; } .questionstitle{ grid-area: questiontitle; } .choice{ grid-area: choice; } .question{ grid-area: question; display: grid; grid-template-columns: 1fr; grid-template-rows: auto; grid-gap: 30px; } .questionli{ background-color: antiquewhite }

/* New Question */
.newqs{ display: grid; grid-template-areas:  "txb1" "or" "txb2" "newqsbutton"; justify-content: center; grid-gap: 20px; } .newqstitle{ grid-area: newqstitle; } .txb1{ grid-area: txb1; } .txb2{ grid-area: txb2; } .or{ grid-area: or; /* width: 40px; */ } .newqsbutton{ grid-area: newqsbutton; }

/* Questions Page */
.QP{ display: grid; justify-content: center; grid-template-areas: "QPtitle QPtitle" "QPheader QPbody"; grid-gap: 20px; } .QPtitle{ grid-area: QPtitle; } .QPheader{ grid-area: QPheader; align-self: center; } .QPbody{ grid-area: QPbody; }

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  clip-path: circle(60px at center);
  width: 80%;
}

